<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Authentication</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body ng-app="Login" ng-controller="LoginCtrl">
    <section class="main">
        <div class="container">
            <h2>Welcome</h2>
            <h3>Before you continue your journey please <span>Sign up</span></h3>
            <div class="input">

                <input type="text" placeholder="Enter your email" ng-model="email">
                <input type="password" placeholder="Enter your password" ng-model="password">
                
            </div>
            <button class="submit-btn" ng-click="handleLogin()">Submit</button>
        </div>
    </section>
    <script src="app/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>